div>.title{
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 100%;
}
.row
.body{
  margin: 10px;
}
div.container{
  background-color: var(--test);
}

.img-wrap {
  width: 20%;
  height: 20%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}
